<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Информация о пользователе</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-user-form></app-user-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Имя пользователя</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of service.users">
                    <td (click)="populateForm(user)">{{ user.userName }}</td>
                    <td (click)="populateForm(user)">{{ user.email }}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(user.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
